.country {
  margin-right: 60px;
  background-color: hsl(209, 23%, 22%);
  /* width: 800px; */
  margin-bottom: 60px;
}

.country__flag > img {
  width: 260px;
  object-fit: contain;
  cursor: pointer;
  /* height: 200px; */
}

.country__infos {
  padding-left: 20px;
}

@media screen and (max-width: 375px) {
  .country {
    width: 100%;
  }

  .country__flag > img {
    width: 100%;
  }
  .country__infos {
    width: 100%;
    height: 100%;
  }
}
