.header {
  display: flex;
  justify-content: space-between;
  background-color: hsl(209, 23%, 22%);
  margin-bottom: 40px;
  position: sticky;
  top: 0;
}

.header__left {
  margin-left: 40px;
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.header__icon {
  margin-right: 10px;
}
