.header {
  display: flex;
  justify-content: space-between;
  background-color: hsl(209, 23%, 22%);
  margin-bottom: 40px;
  position: sticky;
  top: 0;
}

.header__left {
  margin-left: 40px;
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.header__icon {
  margin-right: 10px;
}

@media screen and (max-width: 375px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
  }

  .header__left {
    margin-left: 20px;
    margin-right: 25px;
    font-size: 14px;
  }

  .header__right {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  .header__icon {
    margin-right: 7px;
  }
}
